body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    gap: 1px;
}

.display-one {
    height: 5vh;
    width: 100%;
}

.display-two {
    height: 10vh;
    width: 100%;
}

.row {
    display: flex;
    height: 10vh;
    width: 100%;
    gap: 1px;
}

.row button {
    font-family: monospace;
    font-size: 25px;
    flex: 1;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}