body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.display-one,
.display-two {
    width: 100%;
    text-align: right;
    padding-bottom: 0;
}

.display-one {
    height: 5vh;
}

.display-two {
    height: 10vh;
    font-size: 30px;
    font-weight: bold;
}

.row {
    display: flex;
    height: 12vh;
    width: 100%;
    gap: 10px;
}

.row button {
    font-weight: bolder;
    background-color: #545554;
    color: white;
    font-family: monospace;
    font-size: 25px;
    flex: 1;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: 0.25s;
}

.row .divide {
    flex-basis: 6.25vw;
    flex-grow: 0;
    flex-shrink: 0;
}

.row button:hover {
    background-color: #5ec214;
    color: white;
}

.row button:active {
    background-color: white;
    color: black;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 50%;
    width: auto;
    padding: 0;
}